@import "../constants.styl"

.user-add
  background-color accent-color
  padding 10px 0
  
  & > input,
  & > button
    padding 10px 15px
    font-size 1.2em
    
  & > input
    width 171px
    border 2px solid transparent
    
  & > button
    border 2px solid transparent
    border-radius 0
    cursor pointer
    
    &:hover 
      background-color #727272
      color pri-text-light