.user-list-item
  // background-color #3ee
  
  & > .name
    display inline-block
    // background-color #aee
    width 100px
    text-align left
    padding 10px 15px
    overflow-x hidden
    margin-right 20px
    
  & > .btn-delete
    padding 10px 15px